.post-image {
  width: 100%;
}

.post-date {
  display: block;
  margin-top: 3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size: 0.8rem;
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}

.disqus {
  margin-top: 2rem;
}
