{% extends "base.html" %}

{% block content %}
  {% set posts = get_section(path=config.extra.posts_section) %}
  <h1>{{ page.title }}</h1>
  {% if page.content %}<article>{{ page.content | safe }}</article>{% endif %}
  <ul class="posts-container archive-list">
    {% set_global current_year = "" %}
    {% for post in posts.pages %}
      {% set year = post.date | date(format="%Y") %}
      {% if year != current_year %}<li class="archive-year"><h3>{{ year }}</h3></li>{% set_global current_year = year %}{% endif %}
      <li>
        <a href="{{ post.path | safe }}">{{ post.title }}</a>
        <p class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date(format="%B %-d") }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {{<meta.reading_time item={post} />}}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
