<div class="post-date">{{ config.extra.sharing_button_prompt }}</div>
<div class="sharing-icons">
  <a href="https://twitter.com/intent/tweet?text={{ page.title | urlencode }}&amp;url={{ page.permalink | urlencode }}" target="_blank" rel="noopener noreferrer" aria-label="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.permalink | urlencode }}" target="_blank" rel="noopener noreferrer" aria-label="Share on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
</div>
